<p-table
  [value]="dataSource"
  class="bg-primary"
  [loading]="loading"
  [(selection)]="selectedValues"
  dataKey="tdupr_anio"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Año</th>
      <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox>Programación</th>
      <th>Comentario</th>
      <th>Justificación de la actualización</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data let-i="rowIndex">
    <tr [formGroup]="formGroups[i]">
      <td>{{data.tdupr_anio}}</td>
      <td>
        <p-checkbox binary="true" formControlName="tdupr_programacion"></p-checkbox>
      </td>
      <td>
        <textarea formControlName="tdupr_comentario" pInputTextarea [autoResize]="true"></textarea>
      </td>
      <td>
        <textarea formControlName="tdupr_justificacion" pInputTextarea [autoResize]="true"></textarea>
      </td>
    </tr>
  </ng-template>
</p-table>
<button pButton type="button" label="Show Data" (click)="showData()">SHOW DATA</button>
